*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;

  @include respond(phone){
    font-size: 50%; 
  }

  @include respond(tablet-portrait){
    font-size: 50%; 
  }

  @include respond(tablet-landscape){
    font-size: 50%; 
  }

  @include respond(bigger-desktop){
    font-size: 50%; 
  }
}

body {
  box-sizing: inherit; 
}
