@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
  *0 - 600px Phone
  *600 - 900px Tablet portrait
  *900 - 1200px Tablet landscap
  *1200 - 1800px This style
  *1800+ Big desktop 
*/

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

// $breakpoint
/*
- phone
- tablet-portrait
- tablet-landscape
- bigger-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone{
    @media(max-width: 600px){ @content }; 
  }
  @if $breakpoint == tablet-portrait{
    @media(max-width: 900px){ @content };
  }
  @if $breakpoint == tablet-landscape{
    @media(max-width: 1200px){ @content };
  }
  @if $breakpoint == bigger-desktop{
    @media(min-width: 1800px){ @content };
  }
}
